* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.nav {
  width: 100%;
  padding: 1.2vw 5vw;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  font-size: 3em;
  font-weight: 700;
}
.span {
  color: #b620e0;
}

.links {
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
  gap: 2vw;
  width: 60vw;
  font-size: 0.9em;
  font-weight: 600;
}
.links a {
  font-size: 1em;
  text-decoration: none;

  text-transform: capitalize;
}

.links .x {
  display: none;
}

.links .start {
  background-color: #b620e0;
  border: none;
  width: 7vw;
  height: 3vw;
  border-radius: 20vw;
  color: aliceblue;
  font-size: 0.9em;
  font-weight: 600;
}

.menu {
  display: none;
}

@media (max-width: 600px) {
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4vw;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .heading {
    font-size: 2.3em;
    font-weight: 700;
  }

  .span {
    color: #b620e0;
  }

  .menu {
    display: block;
  }

  .menu img {
    width: 7vw;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vw;
    position: absolute;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1;
    top: 0;
    right: 0;
    padding: 15vw 5vw;
    width: 50vw;
    height: 100vh;
    z-index: 4;
    display: none;
  }

  .links a {
    font-size: 1.4em;
    text-decoration: none;

    text-transform: capitalize;
  }

  .links .x {
    display: block;
    position: absolute;
    top: 3vw;
    right: 4vw;
    border: none;
    background-color: transparent;
    font-size: 1.2em;
  }

  .links .start {
    display: block;
    padding: 1vw 2vw;
    font-size: 1.2em;
    color: aliceblue;
    text-transform: capitalize;
    background-color: #b620e0;
    border: none;
    border: 2px solid #fff;
    border-radius: 20vw;
    cursor: pointer;
  }
}
