*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box
}

.navbar {
  width: 100%;
  padding: 1.2vw 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.heading {
  font-size: 2em;
  font-weight: bold;
}

.heading .span {
  color: #b620e0;
}

.links {
  display: flex ;
  align-items: center;
  gap: 2vw;
  position: relative;
}

.links a {
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  color: #333;
}

.start {
  background-color: #b620e0;
  border: none;
  padding: 0.6em 1.2em;
  border-radius: 30px;
  font-size: 0.9em;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.menu,
.x {
  display: none;
}



 @media (max-width: 600px) { 
  .navbar {
    top: 0;
    left: 0;
    width: 100%;
    padding: 4vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .heading {
    font-size: 2em;
  }

  .heading .span {
    color: #b620e0;
  }

  .menu {
    display: block;
  }
  .menu img {
    width: 7vw;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 6vw;
    box-shadow: 0 0 10px#b620e0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15vw 5vw;
    width: 50vw;
    height: 100vh;
    z-index: 4;
    display: none;
  }

  .links a {
    font-size: 1.4em;
    text-decoration: none;
    text-transform: capitalize;
  }

  .links .x {
    display: block;
    position: absolute;
    top: 3vw;
    right: 4vw;
    border: none;
    font-size: 1.2em;
  }
  .links .start {
    display: block;
    padding: 2vw 2vw;
    font-size: 1.4em;
    width: 28vw;
    height: 10vw;
    text-transform: capitalize;
    background-color: #b620e0;
    border: none;
    border: 2px solid #fff;
    border-radius: 20vw;
  cursor: pointer;
  }

 }

 
