* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: sans-serif;
}
.section2 {
  width: 100%;
  padding: 1.2vw;
}

.topp {
  text-align: center;
}

.topp h1 {
  font-size: 52px;
  color: #b620e0;
}

.topp p {
  font-size: 15px;
  max-width: 650px;
  line-height: 1.9;
  word-wrap: break-word;
  margin: 0 auto;
}
.topp button {
  width: 150px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 17px;
  padding: 12px 17px;
  border-radius: 2em;
  color: white;
  background-color: #b620e0;
  border: none;
}

.bottomm {
 margin-top: 2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative ;
  padding: 0 10vw;
  background-color: red;

  
}

.desktop{
  width: 70vw;
  height:40vw;

  text-align: center;
top:0;
left:10vw;
  position: absolute;

}
.desktop img{
  width: 100%;
  height: 100%;
 
}
.content{
  width: 19vw;
 position: absolute;
top:28vw;
 left: 2vw;

}
.content img{
  width: 100%;
  height: 100%;
}

.mobile {
  width: 22vw;
  height: 40vw;
  
 position: absolute;
top:7vw;
left: 70vw; 
 

 }
 .mobile img{
  width: 100%;
  height: 100%;
 }
.splash{
  width: 14vw;
 position: absolute;
 top: 22vw;
 left: 2vw;
}
.splash img{
  width: 100%;
  height: 100%;
}



@media (max-width: 480px) {
  
  .section2{
    margin: 20vw 0;

  }
  .topp h1 {
    font-size: 1.5rem;
  }

  .topp p {
    font-size: 0.9rem;
    padding: 0 1.6em;
  }

  .topp button {
    font-size: 1rem;
    
  }

  .bottomm {

  width: 100%;
  height: 100%;
  margin:  0 4em;
  display: inline-block;
  position: relative;

  }
.desktop{
  display: none;
}


.mobile{
  position: absolute;
  width: 70vw;
  height: 140vw;
  text-align: center;
left: -5vw;
}
.mobile img{
  width: 100%;
  height: 100%;

  

}
.content{
  position: absolute;
  width: 70vw;
  height: 67vw;
  top:89vw;
  left: -11vw;
  z-index: 1;
}
.content img{
  width: 100%;
  
}
.splash{
  width: 50vw;
  height: 20vw;
  position: absolute;
  top: 65vw;
  left:-11vw ;
}
.splash img{
  width: 100%;
 
}
}