*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family:sans-serif;
}

.section6{
    text-align: center;
 padding: 1.2vw;
 background-color: rgb(241, 243, 246);
}

.section6 h2{
    font-size: 3em;
    color: #b620e0;
    margin: 20px;

}

.section6 p{
    font-size: 15px;
}

.faq-container{
    
    margin: 40px 200px;
    text-align: start;
}

.faq-item{
   
    margin: 20px;

}
.faq-question{
     width: 100%;
    border: 1px solid black;
    border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
background-color: white;
    padding: 20px;
    border: none;
  
    height: 60px;
    gap: 20px;
    text-align: start;
    display: flex;
    justify-content: space-between;
}

.faq-question span{
    font-size: 15px;
    
    
 
}

.arrow-icon{
    height: 1vh;
    width: 1.5vw;
}


@media (max-width: 480px) {
  .section6 h2 {
    font-size: 2.5rem;
  }

  .section6 p {
    font-size: 1.2em;
  }

  .faq-container {
    margin: 2em;
  }

  .faq-question {
    font-size: 1em;
    padding: 2em;
    height: auto;
    flex-direction: row;
    gap: 1em;
  }

  .faq-question span {
    font-size: 1.2em;
  }

  .faq-item img{
    width: 2vw;
    height: 1vw;
  }
.arrow-icon{
  height: 20vw;
  width: 4vw;
}


}