*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.section5{
   text-align: center;
  padding: 1.2vw;
}

.section5 h1{
    font-size: 3em;
    color: #b620e0;
    margin-bottom: 20px ;
}

.section5 p{
    font-size: 15px;

}

.card-box{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;;
    justify-content: center;
}

.crd{
    width: 25%;
    margin-top:15px;
    text-align: start;
}

.crd img{
    height: 40px;
    width: 40px;
    margin-bottom: 15px;
 
}

.crd-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.crd-text{
    font-size: 15px;
    line-height: normal;
    
}


@media screen and (max-width: 480px) {
  .section5 {
    padding: 4em 2em;
  }

  .section5 h1 {
    font-size: 2.5rem; 

  }

  .section5 p {
    font-size:1.2em;
  }

  .card-box {
    flex-direction: column;
    gap: 1em;
  }

  .crd {
    width: 100%; 
    margin-top: 1em;
  }



  .crd-title {
    font-size: 1.5em;
  }

  .crd-text {
    font-size: 1.2em;
  }
}
