

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.section1 {
  width: 100%;
  padding: 1.2vw;
}

.top {
  text-align: center;
}

.top h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #b620e0;
}

.top p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.top input {
  width: 32vw;
  height: 3vw;
 font-size: 1.1vw;
  padding: 0.75em 1em;
  border-radius: 2em;
  margin-right: 10px;
  border: 1px solid grey;
}

.top button {
  width: 10vw;
   height: 3vw;
  font-weight: 600;
  font-size: 1.1vw;
  padding: 0.75em 1em;
  border-radius: 2em;
  color: white;
  background-color: #b620e0;
  border: none;
}

.bottom {
  margin-top: 4em;
  text-align: center;
}
.bottom img{
  width: 100%;
  max-width: 100%;
  padding: 0 1em;
    }

@media (min-width:768px)and (max-width:1024px){
  .section1 {
  width: 100%;
  padding: 1.2vw;
}

.top {
  text-align: center;
}

.top h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #b620e0;
}

.top p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.top input {
  width: auto;
  height: auto;
 font-size: 1.2rem;
  padding: 0.5em 1em;
  border-radius: 2em;
  margin-right: 10px;
  border: 1px solid grey;
}

.top button {
  width: auto;
   height: auto;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.5em 1em;
  border-radius: 2em;
  color: white;
  background-color: #b620e0;
  border: none;
}

.bottom {
  margin-top: 2em;
  text-align: center;
}
.bottom img{
  width: 100%;
  max-width: 100%;
  padding: 0 1em;
    }
}


@media (max-width: 480px) {
  
  .top h1 {
    font-size: 2.5rem;
  }

  .top p {
    font-size: 1.2rem;
  }

  .top input{
    width: 55vw;
    height: 8vw;
padding: 0.65em 2em;
    margin:0.65em;
    font-size: 1.2rem;
  }

  .top button {
    width:auto;
    height: 10vw;
    padding: 0 0.65em;
    
    margin: 0.65em;;
    font-size:1em ;
  }
  .bottom {
    width: 100%;
    height: 50vw;
    margin-top: 0.75em;
    padding:0 ;
  }

  .bottom img {
    width: 100%; 
    height:100%;
    object-fit:cover; 

  }
}

