 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.section3 {
  width: 100%;
  padding: 1.2vw;
  margin-top: 50vw;
}

.upper {
  text-align: center;
}

.upper h1 {
  font-size: 3.25rem;
  color: #b620e0;
}

.upper p {
  font-size: 0.9375rem; 
  max-width: 40.625rem; 
    line-height: 1.9;
  word-wrap: break-word;
  margin: 1.25rem auto; 
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.arroww {
  position: absolute;
  padding: 0.5rem; 
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 2.5rem; 
  height: 2.5rem;
  cursor: pointer;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2); }

.left-arow {
  left: 6.25vw; 
}

.right-arow {
  right: 6.25vw;
}

.lower {
  display: flex;
  justify-content: center;
  gap: 1.875rem; 
  margin-top: 1.875rem;
  position: relative;
}

.card {
  width: 15.625rem; 
  overflow: hidden;
  border-radius: 0.625rem; 
  border: 0.0625rem solid rgb(236, 233, 233); 
}

.innerImage {
  display: flex;
  gap: 0.625rem; 
  margin: 0.625rem 0.625rem;
}

.innerImage p,
.innerImage span {
  font-size: 0.75rem; 
}



@media (max-width: 480px) {

  .section3{
    margin-top: 50em ;
   
    padding: 0 1em;
  }
  .upper{
    text-align: center;
  }
  .upper h1 {
    font-size: 1.5rem;
  }

  .upper p {
    font-size: 0.9rem;
  
  }

  .left-arow,
  .right-arow {
    display: none; 
  }

  .lower {
    
    margin-top: 1em;
    margin-left: 150vw;

  }


  .card img{
    width: 80vw;
  }


  .innerImage p,
  .innerImage span {
    font-size: 0.8rem;
    text-align: start;
    margin: 1em;
  }
   .innerImage img{
width: 15vw;;    
  }
} 

