 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.section3 {
  width: 100%;
  padding: 1.2vw;
  margin-top: 50vw;
}

.upper {
  text-align: center;
}

.upper h1 {
  font-size: 3em;
  color: #b620e0;
}

.upper p {
  font-size: 1rem; 
  max-width: 40rem; 
    line-height: 1.9;
  word-wrap: break-word;
  margin: 1.25rem auto; 
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.arroww {
  position: absolute;
  padding: 0.5rem; 
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 2.5rem; 
  height: 2.5rem;
  cursor: pointer;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2); }

.left-arow {
  left: 6.25vw; 
}

.right-arow {
  right: 6.25vw;
}

.lower {
  display: flex;
  justify-content: start;
  gap: 1.8rem; 
  margin-top: 1.8rem;
}

.card {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 0.6rem; 
  border: 0.06rem solid rgb(236, 233, 233); 
}

.innerImage {
  display: flex;
  gap: 0.6rem; 
  margin: 0.6rem 0.6rem;
}

.innerImage p {
  font-size: 0.75rem; 
}
.card span{
  padding: 0.4em 0.6em;
  position: absolute;
  border: 2px solid black;
  width: 6vw;
  height: 2vw;
  background: white;
  border: none;
  border-radius: 0.3em;
  top: 1vw;
  font-size: 1em;

}

@media (max-width: 480px) {

  .section3{
    margin-top:9em ;
   }
  .upper{
    text-align: center;
  }
  .upper h1 {
    font-size: 2.5rem;
  }

  .upper p {
    font-size: 1.2rem;
  line-height: 1.2em;
  }

  .container{
    display: flex;
    justify-content: flex-start;
  }

  .card{
    margin-left: 2em;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70vw;
    border-radius: 1em;
  }


  .left-arow,
  .right-arow {
    display: none; 
  }

.innerImage p {
    font-size: 1rem;
    text-align: start;
  }
   .innerImage img{
width: 14vw; 
height: 13vw;   
  }
.card .postImg{
  width: 60vw;
}

.card span{
  padding:0.1em 0.2em;
  position: absolute;
  border: 2px solid black;
  width: auto;
  height: auto;
  background: white;
  border: none;
  border-radius: 0.3em;
  top: 3vw;
  font-size: 0.8em;

}
}

  


