* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: sans-serif;
}
.section2 {
  width: 100%;
  padding: 1.2vw;
}

.topp {
  text-align: center;
}

.topp h1 {
  font-size: 52px;
  color: #b620e0;
}

.topp p {
  font-size: 15px;
  max-width: 650px;
  line-height: 1.9;
  word-wrap: break-word;
  margin: 0 auto;
}
.topp button {
  width: 150px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 17px;
  padding: 12px 17px;
  border-radius: 2em;
  color: white;
  background-color: #b620e0;
  border: none;
}

.bottomm {
  margin-top: 60px;
  text-align: center;
}
@media (max-width: 768px) {
  .topp h1 {
    font-size: 2rem;
  }

  .topp p {
    font-size: 1rem;
    padding: 0 2em;
  }

  .topp button {
    width: 100%;
    font-size: 1.2rem;
    padding: 12px 0;
  }

  .bottomm {
    margin-top: 3em;
  }
}

@media (max-width: 480px) {
  .topp h1 {
    font-size: 1.5rem;
  }

  .topp p {
    font-size: 0.9rem;
    padding: 0 1.5em;
  }

  .topp button {
    font-size: 1rem;
    padding: 10px 15px;
  }

  .bottomm {
    margin-top: 2.5em;
  }
   .bottomm img {
    width: 100%;
    max-width: 100%;
  }
}

